*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.swiper-container{
    width: 510px;
    height: 368px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background: lightslategray;
    overflow: hidden;
    position: relative;
}
/* 轮播图片 */
.swiper-warpper{
    width: 8800px;
    position: relative;
    height: inherit;
}
.swiper-warpper>li{
    width: 510px;
    height: inherit;
    float: left;
    text-align: center;
}
.swiper-warpper img{
    width: 100%;
    height: 100%;
}

/* 分页器 */
.swiper-pagination{
    position: absolute;
    bottom: 0;  
    width: 100%;
    text-align: center;
}
.swiper-pagination span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    cursor: pointer;
}
.swiper-pagination>.swiper-pagination-on{
    background: #000;
}
/* 按钮 */
#swiper-button-prev,#swiper-button-next{
    position: absolute;
    width: 4%;
    top: 50%;
    cursor:pointer;
    transform: translateY(-50%);
}
#swiper-button-prev{
    left: 10px;
}
#swiper-button-next{
    right: 10px;
}